
.logo-thumbnail{
    width: 150px;
    height: 150px;
}

.center{
    text-align: center;
}

.cart-heading{
    size: 8px;
    text-align: center;
}

.body{
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

body{
    color: black;
}

.cin-heading{
    size: 16px;
    text-align: center;
    margin-top: 40px;
    
}

.product-image{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(1, 1, 1);
}


.product-div-padding{
    padding: 4px 4px 4px 4px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}


.product-div-center{
    padding: 4px 4px 4px 4px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}


.product-div-center:hover {
	background-color: rgb(240, 247, 29);
    
}

.product-gallery-image{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(1, 1, 1);
    margin-left: auto;
    margin-right: auto;
}

.cart-image{

    width: 150px;
    height: 150px;
    border: 2px solid rgb(1, 1, 1);

}

hr{
    height: 1.5px;
    background-color: black;
}

.button-design{
    border: none;
    background-color: rgb(240, 247, 29);
    padding: 6px 16px;
    border: 1.5px solid rgb(1, 1, 1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a:visited{
    text-decoration: none;
    color: black;
}


#glazing{
width: 150px;
margin-top: 4px;
}

#packsize{
    width: 150px;
    margin-top: 4px;
}

.item-text-margins{
    margin-bottom: 2px;
    margin-top: 8px;
}

.remove{
    font-size: 12px;
    margin-bottom: 1px;
    margin-top: 4px;
}

.Dropdown-layout{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    
}

.selected-image{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.selected-text-margins{
    width: 200px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

select{
    width: 150px;
}

.card-total{
    margin-right: 12px;

}
